.nounderline:hover {
    text-decoration: none;
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu > button:hover {
    color: #f5f5f5;
    background-color: #007bff;
    background-image: none;
}

.nav-link {
  font-size: 25px !important;
}
